<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.handy.android.wm">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- разрешене на  -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".GlobApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/wm_backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppThemeBase1">
        <!-- необходимо для того, чтобы можно было посылать файлы в другие приложения -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.handy.android.wm.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".learning.Learning"
            android:label="@string/word_memorizer"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dictionary.Dictionary"
            android:label="@string/dictionary" />
        <activity
            android:name=".statistics.Statistics"
            android:label="@string/statistics" />
        <activity
            android:name=".dictionary.WordDescription"
            android:label="@string/view" />
        <activity
            android:name=".dictionary.WordEdit"
            android:label="@string/edit" />
        <activity
            android:name=".downloads.EditData"
            android:label="@string/data" />
        <activity
            android:name=".downloads.FileDialog"
            android:label="@string/file_dialog" />
        <activity
            android:name=".Help"
            android:label="@string/help" />
        <activity
            android:name=".About"
            android:label="@string/about" />
        <activity
            android:name=".setting.Settings"
            android:label="@string/action_settings" />
        <activity
            android:name=".learning.CategoreWordsList"
            android:label="@string/category_words_list" />
        <activity
            android:name=".learning.Categories"
            android:label="@string/categories"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Thanks"
            android:label="@string/title_thanks" />
    </application>

</manifest>